<p-toolbar>
  <div class="table-name">Позиции для парсинга</div>

  <p-button
    label="Обновить"
    icon="pi pi-sync"
    styleClass="p-button-rounded p-button-warning p-button-outlined"
    (click)="getAllActiveNames()"
  ></p-button>

  <p-button
    label="Открыть фильтры"
    icon="pi pi-filter"
    styleClass="p-button-outlined p-button-warning"
    (onClick)="showFilter()"
  ></p-button>

  <p-button label="Добавить"
            icon="pi pi-plus"
            styleClass="p-button-outlined"
            (click)="createActiveName()"
  ></p-button>
  <p-button label="Изменить"
            icon="pi pi-pencil"
            styleClass="p-button-outlined p-button-help"
            [disabled]="!selectedActiveName"
            (onClick)="updateActiveName()"
  ></p-button>
  <p-button label="Удалить"
            icon="pi pi-trash"
            styleClass="p-button-outlined p-button-danger"
            [disabled]="!selectedActiveName"
            (onClick)="archiveRequest()"
  ></p-button>

  <p-checkbox
    [(ngModel)]="showArchive"
    label="Показать только архив"
    [binary]="true"
    inputId="binary"
    (ngModelChange)="showArchivePressed()"
  ></p-checkbox>

</p-toolbar>

<ag-grid-angular
  style="width: 100%; height: 100%"
  class="ag-theme-alpine"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [rowData]="rowData"
  [overlayLoadingTemplate]="overlayLoadingTemplate"
  [loadingCellRenderer]="loadingCellRenderer"
  [loadingCellRendererParams]="loadingCellRendererParams"
  [overlayNoRowsTemplate]="'Данные отсутствуют'"
  [rowSelection]="'single'"
  [animateRows]="true"
  (gridReady)="onGridReady($event)"
  (cellClicked)="onCellClicked($event)"
></ag-grid-angular>

<!-- AG Grid Angular Component -->

<app-active-name-dialog [openDialog]="openDialog"
                        *ngIf="openDialog"
                        [item]="selectedActiveName"
                        [editMode]="dialogEditMode"
                        (submit)="onDialogSubmit($event)"
></app-active-name-dialog>


<p-confirmDialog #cd [style]="{width: '50vw'}">
  <ng-template pTemplate="header">
    <h3>Архивация</h3>
  </ng-template>
  <ng-template pTemplate="footer">
    <button type="button" pButton icon="pi pi-check" label="Да" (click)="cd.accept()"></button>
    <button type="button" pButton icon="pi pi-times" label="Нет" (click)="cd.reject()"></button>
  </ng-template>
</p-confirmDialog>

<ng-container *ngIf="loading">
  <div *ngIf="loading" class="loading">Загрузка...</div>
</ng-container>