<div class="nav" >
  <ng-container>
    <div class="nav__buttons">
      <button *ngIf="userRole == 'admin'" pButton type="button" class="p-button-success tiffany-button"
              label="Администрирование" routerLink="/admin" icon="pi pi-cog" ></button>
      <button pButton type="button" class="p-button-success tiffany-button" label="Активный парсинг" routerLink="/active-name"
              icon="pi pi-file-edit"></button>
      <button pButton type="button" class="p-button-success tiffany-button" label="Позиции стима" routerLink="/steam-item"
              icon="pi pi-file-edit"></button>
      <button pButton type="button" class="p-button-success tiffany-button" label="Лоты" routerLink="/lot"
              icon="pi pi-file-edit"></button>
      <button pButton type="button" class="p-button-success tiffany-button" label="Очередь парсинга" routerLink="/parse-queue"
              icon="pi pi-file-edit"></button>

    </div>
  </ng-container>
</div>

