<p-dialog class="dialog"
          [header]="title"
          [modal]="true"
          [style]="customDialogStyle ? customDialogStyle : {height: '80vh',width: '50vw'}"
          [(visible)]="visible"
          (onHide)="closeDialog(false)">

    <form #f="ngForm"  novalidate>
        <div class="flex">
            <ng-content></ng-content>
        </div>
    </form>

    <p-footer *ngIf="!hideSaveButton">
        <div class="flex justify-content-center">
            <p-button icon="pi pi-check"
                (click)="save()"
                [disabled]="!f.valid"
                [label]="getSaveLabel()"

                styleClass="p-button-info">
            </p-button>
        </div>
    </p-footer>
</p-dialog>